{% extends 'base/header.html' %}
{% load static %}

    {% block style %}
        <link rel="stylesheet" href="{% static 'accounts/css/loginn.css' %}">
    {% endblock %}

    {% block home_link %}
        href="{% url 'index' %}"
    {% endblock %}
    {% block about_link %}
        href="{% url 'index' %}#about"
    {% endblock %}
    {% block formation_link %}
        href="{% url 'index' %}#formation"
    {% endblock %}
    {% block actus_link %}
        href="{% url 'index' %}#actus"
    {% endblock %}
    {% block contact_link %}
        href="{% url 'index' %}#contact"
    {% endblock %}

    {% block header_content %}
    <div class="login">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{form}}

            <input type="submit" value="LOGIN">
        </form>
        <p>Don't have an account&nbsp;<a href="{% url 'index' %}#formation">Register</a></p>
    </div>
    {% endblock %}
