<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>course_list</title>
</head>
<body>

    COURSE_LIST
    <a href="{% url 'home' %}">back</a>
    <p>Subject:&nbsp;<span>{{ subject }}</span></p>
    <p>Prof:&nbsp;<span>{{ subject.teacher }}</span></p>
    Courses:
    <ul>
    {% for course in courses %}
        <li>
            <a href="{% url 'course_detail' subject.subject_slug course.slug %}">{{ course }}
                {% if course.cover %}
                    <img src="{{ course.cover.url }}" alt="tsy misy sary" width="100px">
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>

</body>
</html>