{% extends 'base/header.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'base/css/indexx.css' %}">
{% endblock %}

{% block content %}
    <main id="formation">
        <div class="categories">
            <div class="cat_header">
                <h2 class="cat_header_title" style="margin-bottom: 10px;">Departments</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia debitis magni quidem delectus impedit iusto natus nam quibusdam? Odio, sapiente!</p>
            </div>
            <div class="categories_container">
                {% for dept in depts %}
                <div class="category">
                    <p class="cat_title">{{ dept.obj.dept_title }}</p>
                    <div>
                        <div class="img" style="background-image: url({{dept.url}});"></div>
                        <div class="desc">
                            <p>{{ dept.obj.dept_desc }}</p>
                        </div>
                    </div>
                    <div>
                        <span>{{ dept.obj.price }}&nbsp;Ar</span>
                        <a href="{% url 'stu_reg' dept.obj.dept_slug %}">Register</a>
                    </div>
                </div>
            {% endfor %}
            </div>
            
        </div>
        </div>
    </main>

    <footer class="footer" id="contact">

        <div class="footer_wave">
            <div class="wave wave1"></div>
            <div class="wave wave2"></div>
            <div class="wave wave3"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4><i class="ri-chat-3-line"></i><span>&nbsp;Talk to us</span></h4>
                    <ul>
                        <li><a href="#">E-Mail</a>
                        <p>levelmind@email.com</p></li>
                        <li><a href="#">WhatsApp</a>
                        <p>+261 00 00 000 00 - @lvlmind</p></li>
                        <li><a href="#">Messenger</a>
                        <p>LevelMind</p></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4><i class="ri-send-plane-line"></i><span>&nbsp;Write us your point</span><h4>
                    <ul>
                        <li><input type="text" placeholder=" Name"></li>
                        <li><input type="text" placeholder=" Téléphone"></li>
                        <li><input type="text" placeholder=" E-Mail"></li>
                        <li><textarea name="sms" id="sms" cols="50" rows="5" placeholder="Your point ..."></textarea></li>
                        <li><input type="submit" value="Submit"></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4><i class="ri-link-m"></i><span>&nbsp;Keep connected</span></h4>
                    <div class="social-links">
                        <a href="#">
                            <i class="ri-facebook-line"></i>
                        </a>
                        <a href="#">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="#"><i class="ri-github-fill"></i></a>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row copyright">
            <p><i class="ri-copyright-line"></i>2022&nbsp;&nbsp;levelmind.org</p>
            <p>
                <a href="">Privacy Policy</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="">Terms&nbsp;&nbsp;&&nbsp;&nbsp;Condition</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="">FAQ</a></p>
        </div>

    </footer>
{% endblock %}
